:root {
    --primary-color: #343a40;
    --secondary-color: #f0ad4e;
    --accent1-color: #212529;
    --accent2-color: #f8f9fa;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    max-width: 1080px;
    margin: auto;
    background-color:var(--accent2-color);
    box-sizing: border-box;
    border: 1px solid var(--accent2-color);
   
    padding: 10px;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);

}

header,
main,
footer {
    width: 1024px;
    margin: auto;
}

nav,
p,
section,
article {
    margin: 15px;
    padding: 1px;

}

.socialmedia a {
    text-decoration: none;

}

.hero {
    display: block;
    position: relative;
    max-width: 100%;

}

h1 {
    background-color: var(--secondary-color);
    position: absolute;
    top: 20px;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: auto;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--heading-font);
    
}

.hero article img {
    float: right;
    width: 125px;
    margin-top: 10px;
    padding: 5px;

}

.hero article {
    position: absolute;
    bottom: 1px;
    background-color:var(--accent2-color);
    margin-left: 20px;
    opacity: 0.8;
    
}

h2 {

    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    opacity: 0.7;
    text-align: center;

}

footer img {
    width: 20px;
    height: auto;
}

footer {
    border-top: 1px solid var(--accent1-color);
}